/* Navbar */
#navbar{
    flex-direction: column;
}
#navbar ul li{
    padding: 3px;
}
#navbar ul li a{
    padding: 3px ;
    font-size: 15px;
}
#logo{
    margin: 6px;
}
#logo img{
    width: 50px;
    height: auto;
}

/* Home Section */
#home{
    height: 202px;
}
#home::before{
    height: 341px;
}
#home p{
    font-size: 15px;
}

/* Services Section */
#services{
    flex-direction: column;
}
#services .box{
    width: 250px;
    margin: 15px auto;
}
#services .box img{
    width: 200px;
    height: auto;
}

/* Client Section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 100px;
    padding: 3px;
    height: auto;
}

/* Contact Section  */
#contact-box form{
    width:70%;
}

/* Utilities Section  */
.h-primary{
    font-size: 19px;
}
.h-secondary{
    font-size: 17px;
}
.btn{
    margin: 10px;
    font-size: 10px;
}